<a href="https://colab.research.google.com/github/PabloGP10/Hola_Mundo/blob/main/consumer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [88]:
data=pd.read_excel('consumer_mit_lift_lab.xlsx')
data.head(10)

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,NaN,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,NaN,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,NaN,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,NaN,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,NaN,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
5,23c8e9f7-3099-41da-aac4-05d2185e1733,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.198793456 19.0441976644),19.044198,-98.198793,Efectivo,yes,NaN,...,3,0,0,300,170,20,Male,Grocery store (aka. nanostore),Ranita “V”,1 Photo
6,a494aa93-9568-4a39-bcdd-e4e7e45c6d7e,"November 18, 2022",2022-11-27 16:03:01 UTC,Sandra Carreón,SRID=4326;POINT(-98.19873679 19.04405124),19.044051,-98.198737,Efectivo,yes,NaN,...,2,3,0,200,150,21,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
7,ed23476c-2787-4d5d-8fcc-3f1ae6518321,"November 26, 2022",2022-11-27 16:03:00 UTC,Sandra Carreón,SRID=4326;POINT(-98.2033458352 19.0459049334),19.045905,-98.203346,Efectivo,yes,NaN,...,3,10,5,200,100,16,Male,Grocery store (aka. nanostore),Ranita “V”,1 Photo
8,bee0a85f-07e7-487b-a399-c5093a7bb36d,"November 27, 2022",2022-11-27 14:22:54 UTC,Irvin Vásquez Figueroa,SRID=4326;POINT(-98.2704912499 19.0024073643),19.002407,-98.270491,Tarjeta de débito y/o crédito,yes,NaN,...,3,0,1,200,75,29,Male,vestidos,Casa sofia bodas,NaN
9,e8749cc5-86d5-479c-858d-07da7cfe21b5,"November 27, 2022",2022-11-27 14:09:30 UTC,Irvin Vásquez Figueroa,SRID=4326;POINT(-98.2660444826 19.004165149),19.004165,-98.266044,Tarjeta de débito y/o crédito,yes,NaN,...,0,0,0,200,50,51,Female,Cafeteria,Pastelería gourmet,NaN

In [89]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                            352
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store               363
301_electricity_bill                          0
305_electricity_bill_store                   29
302_water_bill                                0
306_water_bill_store                         14
303_gas_bill                                  0
307_gas_bill_store                            7
286_topups                                    0
308_topups_in_store                          73
287_wire_transfers                            0
309_wiretransfers_in_store                    7
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

**Métodos de Sustitución de Valores Nulos**

In [90]:
#Realizamos una copia del dataframe
data2=data.copy()

In [91]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto 
data2["300_did_not_find"]= data2["300_did_not_find"].fillna("encontro todo") 
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [92]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store               363
301_electricity_bill                          0
305_electricity_bill_store                   29
302_water_bill                                0
306_water_bill_store                         14
303_gas_bill                                  0
307_gas_bill_store                            7
286_topups                                    0
308_topups_in_store                          73
287_wire_transfers                            0
309_wiretransfers_in_store                    7
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

In [93]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["284_additional_products_store"]= data2["284_additional_products_store"].fillna("ninguno") 
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [94]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store                 0
301_electricity_bill                          0
305_electricity_bill_store                   29
302_water_bill                                0
306_water_bill_store                         14
303_gas_bill                                  0
307_gas_bill_store                            7
286_topups                                    0
308_topups_in_store                          73
287_wire_transfers                            0
309_wiretransfers_in_store                    7
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

In [95]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["305_electricity_bill_store"]= data2["305_electricity_bill_store"].fillna("yes") 
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [96]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store                 0
301_electricity_bill                          0
305_electricity_bill_store                    0
302_water_bill                                0
306_water_bill_store                         14
303_gas_bill                                  0
307_gas_bill_store                            7
286_topups                                    0
308_topups_in_store                          73
287_wire_transfers                            0
309_wiretransfers_in_store                    7
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

In [97]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["306_water_bill_store"]= data2["306_water_bill_store"].fillna("yes") 
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [98]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store                 0
301_electricity_bill                          0
305_electricity_bill_store                    0
302_water_bill                                0
306_water_bill_store                          0
303_gas_bill                                  0
307_gas_bill_store                            7
286_topups                                    0
308_topups_in_store                          73
287_wire_transfers                            0
309_wiretransfers_in_store                    7
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

In [99]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["307_gas_bill_store"]= data2["307_gas_bill_store"].fillna("yes") 
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [100]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store                 0
301_electricity_bill                          0
305_electricity_bill_store                    0
302_water_bill                                0
306_water_bill_store                          0
303_gas_bill                                  0
307_gas_bill_store                            0
286_topups                                    0
308_topups_in_store                          73
287_wire_transfers                            0
309_wiretransfers_in_store                    7
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

In [101]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["308_topups_in_store"]= data2["308_topups_in_store"].fillna("no") 
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [102]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store                 0
301_electricity_bill                          0
305_electricity_bill_store                    0
302_water_bill                                0
306_water_bill_store                          0
303_gas_bill                                  0
307_gas_bill_store                            0
286_topups                                    0
308_topups_in_store                           0
287_wire_transfers                            0
309_wiretransfers_in_store                    7
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

In [103]:
data2["309_wiretransfers_in_store"] =data2["309_wiretransfers_in_store"].fillna(method="ffill")

In [104]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store                 0
301_electricity_bill                          0
305_electricity_bill_store                    0
302_water_bill                                0
306_water_bill_store                          0
303_gas_bill                                  0
307_gas_bill_store                            0
286_topups                                    0
308_topups_in_store                           0
287_wire_transfers                            0
309_wiretransfers_in_store                    0
320_other_services_in_store                   0
304_additional_services_store               294
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     65
dtype: int64

In [105]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["304_additional_services_store"]= data2["304_additional_services_store"].fillna("Pago con tarjeta") 
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE,1 Photo
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita,1 Photo
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea,1 Photo
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [106]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                          0
287_wire_transfers                           0
309_wiretransfers_in_store                   0
320_other_services_in_store                  0
304_additional_services_store                0
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    65
dtype: int64

In [126]:
#Eliminamos columnas innecesarias
data3= data2.drop(['storefront_picture_just_once_if_possible'], axis=1)
data3

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,304_additional_services_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store
0,94c9c1c8-f806-4dd6-9124-0447101139ce,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1980873644 19.0486653032),19.048665,-98.198087,Efectivo,yes,encontro todo,...,Recargas,5,4,2,250,100,18,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE
1,1766c0a9-8f4d-452e-b2f9-5c7f7fa6e509,"November 27, 2022",2022-11-27 19:17:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.198058866 19.0487039671),19.048704,-98.198059,Efectivo,yes,encontro todo,...,Pago con tarjeta,5,3,0,300,100,17,Male,Grocery store (aka. nanostore),MINI SUPER 3 NORTE
2,3f1e53cb-d761-48aa-be19-18d69ecbebf2,"November 27, 2022",2022-11-27 19:00:55 UTC,Sandra Carreón,SRID=4326;POINT(-98.2017408684 19.0459141241),19.045914,-98.201741,Efectivo,yes,encontro todo,...,Terminal de tarjeta,9,12,2,500,300,30,Male,Grocery store (aka. nanostore),Abarrotes licores y vinos La ranita
3,335e6647-537c-47da-9efa-805a110f6936,"November 27, 2022",2022-11-27 18:51:26 UTC,Sandra Carreón,SRID=4326;POINT(-98.1981215626 19.04858956),19.048590,-98.198122,Efectivo,yes,encontro todo,...,Recargas,2,0,1,280,150,24,Male,Grocery store (aka. nanostore),Miscelánea
4,902e4d41-8299-424d-834b-d1090b1743c0,"November 27, 2022",2022-11-27 16:03:02 UTC,Sandra Carreón,SRID=4326;POINT(-98.1988253072 19.0441482241),19.044148,-98.198825,Efectivo,yes,encontro todo,...,Pago con tarjeta,2,5,1,250,150,22,Female,Grocery store (aka. nanostore),Ranita “V”
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,encontro todo,...,Pago con tarjeta,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge
371,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,encontro todo,...,Pago con tarjeta,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo
372,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,encontro todo,...,Pago con tarjeta,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo
373,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,encontro todo,...,Pago con tarjeta,2,4,0,30,100,18,Male,Cafeteria,Crudopolis
374,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,encontro todo,...,Pago con tarjeta,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis

In [127]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

_record_id                             0
_title                                 0
_server_updated_at                     0
_updated_by                            0
_geometry                              0
_latitude                              0
_longitude                             0
282_payment_method_that_purchase       0
283_fulfill_needs                      0
300_did_not_find                       0
237_distance_household_interviewee     0
299_means_transportation_consumer      0
238_frequency_buying_store             0
284_additional_products_store          0
301_electricity_bill                   0
305_electricity_bill_store             0
302_water_bill                         0
306_water_bill_store                   0
303_gas_bill                           0
307_gas_bill_store                     0
286_topups                             0
308_topups_in_store                    0
287_wire_transfers                     0
309_wiretransfers_in_store             0
320_other_services_in_store            0
304_additional_services_store          0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
240_gender_interviewee                 0
indicate_the_type_of_store             0
name_of_the_store                      0
dtype: int64

In [128]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0

**Outliers**

In [142]:
y=data3

In [165]:
#Identificamos las variables no numéricas para eliminar columnas incecesarias 
#Verificamos información del DataFrame
y.info(9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   _latitude                            375 non-null    float64
 1   _longitude                           375 non-null    float64
 2   238_frequency_buying_store           375 non-null    int64
 3   81_number_online_purchases_month     375 non-null    int64
 4   288_number_app_purchases_month       375 non-null    int64
 5   289_number_whatsapp_purchases_month  375 non-null    int64
 6   83_willingness_ultrafast_delivery    375 non-null    int64
 7   84_willingness_sameday_delivery      375 non-null    int64
 8   241_age_of_the_interviewee           375 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 26.5 KB

In [166]:
#aplicamos filtro de columnas para filtrar las columnas con variables numéricas (se descartaron las columnas que muestran números de telofóno y las coordenadas) 
y1=data3.iloc[:,[5,6,12,26,27,28,29,30,31,]]#columnas no consecutivas
y1

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.048665,-98.198087,1,5,4,2,250,100,18
1,19.048704,-98.198059,2,5,3,0,300,100,17
2,19.045914,-98.201741,2,9,12,2,500,300,30
3,19.048590,-98.198122,3,2,0,1,280,150,24
4,19.044148,-98.198825,2,2,5,1,250,150,22
...,...,...,...,...,...,...,...,...,...
370,19.035224,-98.267100,1,15,10,0,100,100,15
371,19.035280,-98.267856,1,1,1,0,50,70,21
372,19.035451,-98.267862,1,3,2,0,0,0,18
373,19.035486,-98.267831,1,2,4,0,30,100,18
374,19.035399,-98.267924,1,0,3,0,150,1000,18

In [145]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=y1

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido _latitude                               19.092051
_longitude                             -98.116677
238_frequency_buying_store               6.000000
81_number_online_purchases_month         7.500000
288_number_app_purchases_month          12.500000
289_number_whatsapp_purchases_month      2.500000
83_willingness_ultrafast_delivery      145.000000
84_willingness_sameday_delivery        235.000000
241_age_of_the_interviewee              73.500000
dtype: float64
Limite inferior permitido _latitude                               18.976260
_longitude                             -98.346358
238_frequency_buying_store              -2.000000
81_number_online_purchases_month        -4.500000
288_number_app_purchases_month          -7.500000
289_number_whatsapp_purchases_month     -1.500000
83_willingness_ultrafast_delivery      -55.000000
84_willingness_sameday_delivery       -125.000000
241_age_of_the_interviewee             -10.500000
dtype: float64

In [167]:
#Encontramos Outliers del Dataframe
outliers_iqr= y1[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,NaN,NaN,NaN,NaN,NaN,NaN,250.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,300.0,NaN,NaN
2,NaN,NaN,NaN,9.0,NaN,NaN,500.0,300.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,280.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,250.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
370,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,NaN,NaN,NaN,NaN,NaN,NaN,150.0,1000.0,NaN

In [168]:
#Obtenemos datos limpios del Dataframe
data3_iqr= y1[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.048665,-98.198087,1.0,5.0,4.0,2.0,NaN,100.0,18.0
1,19.048704,-98.198059,2.0,5.0,3.0,0.0,NaN,100.0,17.0
2,19.045914,-98.201741,2.0,NaN,12.0,2.0,NaN,NaN,30.0
3,19.048590,-98.198122,3.0,2.0,0.0,1.0,NaN,150.0,24.0
4,19.044148,-98.198825,2.0,2.0,5.0,1.0,NaN,150.0,22.0
...,...,...,...,...,...,...,...,...,...
370,19.035224,-98.267100,1.0,NaN,10.0,0.0,100.0,100.0,15.0
371,19.035280,-98.267856,1.0,1.0,1.0,0.0,50.0,70.0,21.0
372,19.035451,-98.267862,1.0,3.0,2.0,0.0,0.0,0.0,18.0
373,19.035486,-98.267831,1.0,2.0,4.0,0.0,30.0,100.0,18.0
374,19.035399,-98.267924,1.0,0.0,3.0,0.0,NaN,NaN,18.0

In [169]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

_latitude                               0
_longitude                              0
238_frequency_buying_store             11
81_number_online_purchases_month       14
288_number_app_purchases_month         17
289_number_whatsapp_purchases_month    51
83_willingness_ultrafast_delivery      46
84_willingness_sameday_delivery        13
241_age_of_the_interviewee              3
dtype: int64

In [170]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data4_iqr=data3_iqr.copy()
data4_iqr=data4_iqr.fillna(round(data3_iqr.mean(),1))
data4_iqr

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.048665,-98.198087,1.0,5.0,4.0,2.0,35.9,100.0,18.0
1,19.048704,-98.198059,2.0,5.0,3.0,0.0,35.9,100.0,17.0
2,19.045914,-98.201741,2.0,1.9,12.0,2.0,35.9,51.6,30.0
3,19.048590,-98.198122,3.0,2.0,0.0,1.0,35.9,150.0,24.0
4,19.044148,-98.198825,2.0,2.0,5.0,1.0,35.9,150.0,22.0
...,...,...,...,...,...,...,...,...,...
370,19.035224,-98.267100,1.0,1.9,10.0,0.0,100.0,100.0,15.0
371,19.035280,-98.267856,1.0,1.0,1.0,0.0,50.0,70.0,21.0
372,19.035451,-98.267862,1.0,3.0,2.0,0.0,0.0,0.0,18.0
373,19.035486,-98.267831,1.0,2.0,4.0,0.0,30.0,100.0,18.0
374,19.035399,-98.267924,1.0,0.0,3.0,0.0,35.9,51.6,18.0

In [ ]:
Union=data3
Datos_limpios=pd.concat([Union,y1],axis=1)
Datos_limpios

In [172]:
#convertir a archivo xlsx
Datos_limpios.to_csv("consumer_Limpio.csv")

In [173]:
#descargar archivo filtrado en xlsx
from google.colab import files 
  
files.download("consumer_Limpio.csv")